# Created by .ignore support plugin (hsz.mobi)
notes.md
geany/geany_socket_*
.weechat/logs/*
.weechat/xfer/*
vscode/User/workspaceStorage
ranger/bookmarks
ranger/history
doublecmd/pixmaps.cache
doublecmd/history.xml
doublecmd/session.ini
doublecmd/wfx.ini
doublecmd/pwd.ini
ranger/colorschemes/*.pyo
ranger/tagged
*.pyo
vscode/User/User
**/__pycache__/**
vscode/User/globalStorage/state.vscdb
vscode/User/globalStorage/state.vscdb.backup
.mutt/account.axis2
.mutt/cache
.mutt/b-certificates
.mutt/certificates
mutt
gtk-3.0/bookmarks
albert/albert.conf.*
albert/core.db
albert/last_used_version
albert/org.albert.extension.snippets
jgmenu/backup/**
