# Created by .ignore support plugin (hsz.mobi)
notes.md
geany/geany_socket_*
.weechat/logs/*
.weechat/xfer/*
vscode/User/workspaceStorage
ranger/bookmarks
ranger/history
doublecmd/pixmaps.cache
doublecmd/history.xml
doublecmd/session.ini
doublecmd/wfx.ini
ranger/colorschemes/*.pyo
ranger/tagged
*.pyo
vscode/User/User
