scrollbar slider {
    /* Size of the slider */
    min-width: 20px;
    min-height: 55px;
    border-radius: 3px;

    /* Padding around the slider */
    border: 2px solid black;
    has-secondary-forward-stepper: true;
    has-backward-stepper: true;
}
